* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
	background-color: #000000;
}

body {
	margin: 0px;
	padding: 0px;
	width: 90%;
	text-align: center;
}

#timerContainer {
	position: absolute;
	top: 20%;
	left: 35%;
	width: 30%;
}

#timer {
	width: 100%;
	color: #FF0000;
	font-size: 2em;
}

#turnsleft {
	position: absolute;
	top: 20%;
	left: 70%;
	color: #FFFFFF;
	font-size: 2.3em;
}

#combinationContainer {
	position: absolute;
	left: 50%;
	margin-left: -25%;
	top: 35%;
	width: 60%;
	color: #FFFFFF;
	font-size: 2.3em;
	text-align: center;
}

#combinationContainer td {
	width: 20px;
}

#endGameButtons {
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
	margin-left: 0px;
}

#endGameButtons button {
	background-color: #C0C0C0;
	margin-left: 10px;
	border-radius: 10px 10px 10px 10px;
	z-index: 1;
}

#restartButton {
	border-color: #66FF33 !important;
}

#buttonContainer {
	position: absolute;
	margin-top: 0px;
	left: 50%;
	margin-left: -160px;
	top: 55%;
}

#buttonContainer button {
	width: 110%;
	height: 110%;
	background-color: #C0C0C0;
	margin-top: 5px;
	border-radius: 10px 10px 10px 10px;
}

#buttonContainer td {
	padding: 10px;
	height: 50px;
	width: 50px;
}

#win {
	width: 86%;
	height: 89%;
	position: fixed;
	left: 15%;
	top: 9%;
	z-index: 1;
}

/*background image */
#background {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -2; /* Ensure div tag stays behind content */
}

.stretch {
	width: 100%;
	height: 100%;
}

/*crack image*/
#crack {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -1;
}

/* for winscreen and lose */
.stretchResult {
	width: 80%;
	height: 80%;
}

/* effects */
.highlighted {
	-webkit-box-shadow: 0 0 8px #83F52C -moz-box-shadow:  0 0 8px #83F52C;
	box-shadow: 0 0 3px #83F52C;
	color: #83F52C;
}